<script language="JavaScript">
function reloadData(btn)
{
    btn.disabled=true;
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
           // Typical action to be performed when the document is ready:
           var response = xhttp.responseText=="Data loaded successfully"?xhttp.responseText:"There was a problem with the data load. Please check the logs for additional details."
           alert(response);
           btn.disabled=false;
        }
    };
    xhttp.open("GET", "/refreshData", true);
    xhttp.send();
}

</script>
<div>
<table width="100%"><tr><td><div style="text-align:left">
    <button type="button" id="reload" onclick="reloadData(this)">Refresh All Data</button>
</div>
</td><td><div style="text-align:right">
    <a href="/">Home Page</a> | <a href="/stateAnalysis">State-wise Analysis</a> | <a href="/stateComp">State Comparison</a> |  <a href="/top10States">Top 10 States</a>
</div>
</td></tr>
</div>
