{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid-19 in India - Analysis</title>
    {% include "covid19IndiaAnalysis/styles.html" %}
</head>
<body>
{% include "covid19IndiaAnalysis/header.html" %}
<center><h1>Covid-19 situation in India - State-wise Analysis</h1></center>
<div class="table-responsive">
<table class="table table-striped table-hover">
    <tr><td>
<form action = "" method = "get">
{{ form.as_p }}
    <!--<select name="state" id="state">
    <label for="state">State: </label>

    <input id="state" type="text" name="state">
    {% for row in statelist %}
        {% if row.1 == state %}
            <option value="{{ row.1 }}" selected>{{ row.0 }}</option>
        {% else %}
            <option value="{{ row.1 }}">{{ row.0 }}</option>
        {% endif %}
    {% endfor %}
    </select>-->

    <div style="text-align:center"><input type="submit" value="Submit"></div>
</form>
<!--State: {{ state }}
        {{ categories }}-->
</td>


    <!--<td>
        Vaccinations
    </td>-->

    <td>

        <img src="data:image/png;base64,{{ data }}" alt="" height="700" ,width="700"/>
    </td>
    <!--<td>
        <img src="data:image/png;base64,{{ vacc_data }}" alt="" height="400" ,width="400"/>
    </td>-->
    </tr>
</table>
</div>
</body>
</html>